* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;

  }
  
  @import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto:wght@300&family=Yanone+Kaffeesatz&display=swap');
  .home,
  .services,
  .transito,
  .products,
  .sign-up
  .agronegocio,
  .desenvolvimentohumano,
  .economia,
  .educacao,
  .empregos,
  .infraestrutura,
  .meioambiente,
  .orcamentario,
  .saude,
  .social {
    display: flex;
    height: 90vh;
    width: 155vh;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
  }
  
  .social {
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
  }
  
  .indicadortitle {
    background: url('../../../images/EconomiaFundo1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: center;
    font-family: 'Roboto';
  }
  
  .titulobi {
    color: rgb(4, 65, 80);
    font-size: 17px;
    text-align: center;
    font-family: 'Roboto';
    padding: 0.5em;
  }
  
  @media only screen and (max-width: 375px) {
    .home,
    .services,
    .transito,
    .products,
    .sign-up
    .agronegocio,
    .desenvolvimentohumano,
    .economia,
    .educacao,
    .empregos,
    .infraestrutura,
    .meioambiente,
    .orcamentario,
    .saude,
    .social {
      display: flex;
      height: 30vh;
      width: 45vh;
      align-items: center;
      justify-content: center;
      font-size: 10rem;
    }
  }

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .home,
  .services,
  .transito,
  .products,
  .sign-up
  .agronegocio,
  .desenvolvimentohumano,
  .economia,
  .educacao,
  .empregos,
  .infraestrutura,
  .meioambiente,
  .orcamentario,
  .saude,
  .social {
    display: flex;
    height: 35vh;
    width: 50vh;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
  }
}

  @media only screen and (min-width: 768px) and (max-width: 1020px) {
    .home,
  .services,
  .transito,
  .products,
  .sign-up
  .agronegocio,
  .desenvolvimentohumano,
  .economia,
  .educacao,
  .empregos,
  .infraestrutura,
  .meioambiente,
  .orcamentario,
  .saude,
  .social {
    display: flex;
    height: 45vh;
    width: 65vh;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    padding: 20px;
  }
}

@media only screen and (min-width: 1020px) and (max-width: 1440px) {
  .home,
.services,
.transito,
.products,
.sign-up
.agronegocio,
.desenvolvimentohumano,
.economia,
.educacao,
.empregos,
.infraestrutura,
.meioambiente,
.orcamentario,
.saude,
.social {
  display: flex;
  height: 100vh;
  width: 160vh;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  padding: 20px;
  }
}

