* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;

  }

    .botaobaixar {
      height:100px; 
      width:300px; 
      margin: -20px -50px; 
      margin-top: 20px;
      margin-bottom: 20px;
      position:relative;
      top:50%; 
      left:50%;
    }

  .page-section-sub {
    padding: 3rem 0;
    font-family: 'Roboto';
    text-align: justify;
  }

  .teste {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem 0;
    margin-left:10%;
    margin-right:10%;
  }

  .legend {
    padding: 3rem 0;
    font-family: 'Roboto';
    text-align: justify;
  }
 
  @import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto:wght@300&family=Yanone+Kaffeesatz&display=swap');
  .economia
 {
    display: flex;
    height: 90vh;
    width: 155vh;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
  }
  
  .social {
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
  }
  
  .indicadortitle {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: center;
    font-family: 'Roboto';
  }
  
  .titulobi {
    color: rgb(4, 65, 80);
    font-size: 13px;
    text-align: center;
    font-family: 'Roboto';
    padding: 0.5em;
  }



  @media only screen and (max-width: 375px) {

 .economia
 {
      display: flex;
      height: 30vh;
      width: 44vh;
      align-items: center;
      justify-content: center;
      font-size: 10rem;
    }

    
 

  }

@media only screen and (min-width: 375px) and (max-width: 768px) {

  .economia
   {
    display: flex;
    height: 35vh;
    width: 44vh;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
  }
}

  @media only screen and (min-width: 768px) and (max-width: 1020px) {
  .economia
 {
    display: flex;
    height: 45vh;
    width: 60vh;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    padding: 20px;
  }
}

@media only screen and (min-width: 1020px) and (max-width: 1440px) {
.economia
 {
  display: flex;
  height: 100vh;
  width: 159vh;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  padding: 20px;
  }
}

